<ion-view view-title="The Basics">
  <ion-content>
    <h5>These videos should help introduce you to share trading.</h5>

    Trading Basics<br/>
    <div class="video">
      <a href="https://www.youtube.com/watch?v=0O8uM9WE_RM"><img src="img/video1.png" width="100%" /></a>
    </div><br/>
    <br/>

    Stock Trading for Kids Students and Beginners<br/>
    <div class="video">
      <a href="https://www.youtube.com/watch?v=vKN1jXIpfbI"><img src="img/video2.png" width="100%" /></a>
    </div><br/>
    <br/>

    Stock Basics: 3 Different Types of Stock<br/>
    <div class="video">
      <a href="https://www.youtube.com/watch?v=jKgO_iNlBXk"><img src="img/video3.png" width="100%"/></a>
    </div><br/>
    <br/>

  </ion-content>
</ion-view>
