<ion-view view-title="Home">
  <ion-content>
<div style="float:left;"><h3>My Stocks</h3></div>

    <div style="float:right;">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </div>

    <div style="clear: both"></div>

  <div class="list card">
    <div ng-repeat="stock in stocks">
      <div class="item item-avatar" style="background-color:#f4f7f8; border:#ddd 1px solid" ng-click="clickStock(stock)">
        {{stock.name}}
      </div>

      <div class="item item-image" ng-show="stock.visible">
        <img ng-src="{{stock.img}}">
      </div>
    </div>
  </div>

  </ion-content>
</ion-view>
