<ion-view view-title="News">
  <ion-content>

      <div class="news">
        <a href="http://www.news.com.au/finance/markets/australian-market-set-to-open-flat/story-e6frfm30-1227393998923">
        <img src="img/news1.jpg" width="10%" class="newsimage" />

        <h3>Australian market set to open flat (news.com.au)</h3>
        THE Australian market looks set for a flat open as gains on Wall Street were offset by falls in commodity prices.
        </a>
      </div>

    <br/>
    <br/>

    <div class="news">
      <a href="http://www.smh.com.au/business/world-business/twitter-says-dick-costolo-to-step-down-as-ceo-cofounder-jack-dorsey-to-serve-as-interim-chief-20150611-ghm3q9.html">
      <img src="img/news2.jpg" width="10%" class="newsimage" />

      <h3>Twitter says Dick Costolo to step down as CEO, co-founder Jack Dorsey to serve as interim chief (Sydney Morning Herald)</h3>
      THE Australian market looks set for a flat open as gains on Wall Street were offset by falls in commodity prices.
      </a>
    </div>

  </ion-content>

</ion-view>
