/* Empty. Add your own CSS if you like */


.video {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.newsimage {
    float: left;
    margin: 5px;
}

.stockitem {
    vertical-align: middle;
}